{% extends 'base.html' %}
{% load static %}

{% block title %}User Details{% endblock %}


{% block includes %}
  {% include 'includes/navbar.html' %}
{% endblock %}

{% block css %}

  <style>
    .button {
      border-radius: 8px;
      float:right;
      position: absolute;
      top:0;
      right:0;
      padding: 10px 10px;
      border-radius: 16px;
      font-size:10px;
    }
    .crop {
      width:500px;
      height:500px;
      overflow: hidden;
    }

    .crop img {
      width: 400px;
      height:300px;
      margin: -75px 0 0 -100px;
    }
  </style>
{% endblock %}



{% block content %}

<div class="row">
  <div class="col-sm-4">
    {% if user.user_profile.profile_pic %}
    <img src="{{ user.user_profile.profile_pic.url }}" width="220px" height="220px" alt="default profile pic" class="rounded-circle">
    {% else %}
    <img src="{% static 'accounts_app/images/profile.png' %}" width="220px" height="220px" alt="default profile pic" class="rounded-circle">
    {% endif %}
  </div>

  <div class="col-sm-8">
    <h3><strong>{{ user.user_profile.first_name|title }} {{ user.user_profile.last_name|title }}</strong>    <a href="{% url 'profiles' %}" class="btn btn-dark"> Edit Profile</a></h3>
    <h4>{{ user.posts.count }} Posts &nbsp;&nbsp; {{ user.followers.count }} Follwers &nbsp;&nbsp; {{ user.following.count }} Following  &nbsp;&nbsp;</h4>
    <br>
    {% if user.user_profile.about %}
    <h4>About: {{ user.user_profile.about }}</h4>
    {% else %}
    <h5>Go to edit profile to set your about</h5>
    {% endif %}
  </div>
</div>

  <br>
  <br>
  <br>
  <h3>Posts</h3>
  <div class="row">
    {% for user_post in user.posts.all %}
    <div class="crop">
        <img src="{{ user_post.image.url }}" alt="{{ user_post.caption }}">
        <h4>{{ user_post.caption }}</h4>
    </div>
    {% endfor %}


  </div>


{% endblock %}
